<!DOCTYPE html>
<html lang="<%= config.language %>">
<head>
    <%- partial('_partial/head',{cache: true}) %>
</head>
<body>
	<script type="text/javascript" src="/js/canvas-colorful-nest.js"></script>
    <div class="wrapper">
        <%- partial('_partial/header',{cache: true}) %>
        <div class="main">
            <%- body %>
        </div>
        <%- partial('_partial/footer',{cache: true}) %>
    </div>
</body>
</html>
