<div class="post-wrap archive">
    <% if (url_for(page.path) === '/archives/index.html') { %>
        <div class="new-meta-item-posts">嗯... 目前共计 <%- site.posts.length; %> 篇文章。 继续努力</div>
    <% } %>
    <% var last_year = ''; %>
    <% page.posts.each(function (post) { %>
        <% var cur_year = post.date.year(); %>

        <% if(last_year !== cur_year){ %>
            <h2><%- cur_year %></h2>
        <% last_year = cur_year; } %>

        <article class="archive-item">
            <span class="archive-item-date"><%- date(post.date, theme.date_format) %></span>
            <span class="archive-item-title"><a href="<%- url_for(post.path) %>"><%= post.title %></a></span>
            <!--<span class="archive-item-date"><%- date(post.date, theme.date_format) %></span>-->
        </article>
    <% }) %>
    <%- partial('_partial/paginator') %>
</div>